h1{
    font-family: 'Rubik Microbe', cursive;
        display:inline
    }
    body { background: #e8f1f9; }

h2{
    font-family: 'Oswald', sans-serif;

    display: inline
}
p{
        font-family: 'PT Sans Narrow', sans-serif;
 }
 td{

    font-family: 'PT Sans Narrow', sans-serif;
 }

 th{
    font-family: 'PT Sans Narrow', sans-serif;


 }
 thead  {
    background-color: #006DCC;
}
footer{
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
